@page "/counter"
@using Outrage.Patternfly.Components.Utilities
@using Outrage.Patternfly.Components.Button

<PageTitle>Counter</PageTitle>

<PatternflyH1>Counter</PatternflyH1>

<p role="status">Current count: @currentCount</p>

<PatternflyButton Clicked="IncrementCount">Click me</PatternflyButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
